.archive {

	&__item {
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 100%;
		margin: 1.5rem;
		color: $color-body;

		@include above (sm) {
			width: calc(50% - 3rem);
		}

		@include above (lg) {
			width: calc(33.3% - 3rem);
		}
	}

	&__thumb {
		min-height: 25rem;
		background: no-repeat center center $blue;
		background-size: cover;
	}

	&__header {
		background: $white;
		padding: 1.5rem;
		padding-bottom: 0;
		flex: 1;
		position: relative;
	}

	&__btn {
		width: 100%;
    	padding-right: 3rem .5rem !important;
    	color: $white;
    	background: $white;

    	i {
    		position: absolute;
    		right: 0;
    		background: $red;
    		padding: 1.75rem 2rem;
    		top: 0;
    		z-index: 10;
    		transition: all ease .3s;
    	}
	}
}