.contact {

	&--form {
		background: no-repeat center center;
		background-size: cover;
	}

	&__info {

	}

	&__title {

		@include title-border(
			$align: 0,
			$transform: 0
		);

		@include above (sm) {
			margin-top: 5.9rem;
			margin-bottom: 4.8rem;
		}
	}

	&__messenger {
		padding-top: 3rem;

		h3 {
			font-size: 3rem;
		}

		i {
			font-size: 3.5rem;
			color: $red;
			transform: rotate(35deg);

			@include above (sm) {
				font-size: 8.5rem; 
			}

			@include above (lg) {
				font-size: 10.5rem;
			}

			&:before {

			}
		}
	}

	&__mail {
		
		@include below (sm) {
			width: 100%;
			padding-bottom: 3rem;
		}	
	}

	&__btn {
		border: none;
		background: transparent;
		font-family: $font-headings;
		color: $white;
	    padding: 0 2rem;
	    margin-top: .5rem;
	    margin-bottom: .5rem;
	    transition: all ease .3s;
	    outline: none;
	    position: relative;
		@include seperator(
			$color: $white,
			$opacity: .4
		);

		&.is-active {
			color: $red;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__form {
		display: none;
		transition: all ease .6s;
		position: relative;
		margin-top: 3rem;
		will-change: transform;

		@include below (sm) {
			width: 100%;
		}

		&.is-active {
			transition: all ease .6s;
			display: block;
			animation: fade-in .6s; 
			animation-iteration-count: 1;
		}
	}
}