.courses {

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 0;
		min-height: 25rem;
		width: 100%;
		margin: 1.5rem;

		&--infobox {
			font-size: 1.8rem;
			font-family: $font-headings;
			justify-content: center;
			text-align: center;
			padding: 1.5rem 3rem;

			@include above (sm) {
				font-size: 2.8rem;
				padding: 3rem;
			}

			p {
				position: relative;
				@include title-border();
				line-height: 1.5;
			}

			span {
				align-self: center;
				font-size: 1.6rem;
				margin-top: 1.5rem;
			}
		}

		@include between (xs, sm) {
			width: calc(50% - 3rem);
		}

		@include above (sm) {
			width: calc(50% - 3rem);
		}

		@include above (lg) {
			min-height: 30rem;
			width: calc(33.3% - 3rem);
		}
	}

	&__title {
		margin: 0;
		padding: 1.5rem;
		color: $white;
		position: relative;

    	span {
    		position: relative;
    		z-index: 10;
    	}

    	.blend {
    		background: rgba($blue, .9);
    		mix-blend-mode: multiply;
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		z-index: 0;
    	}

		@include above (sm) {
			padding: 1.5rem 3rem;
		}
	}
}