.employees {

	&__header {
		margin-top: 0;
		@include title-border();
		text-align: center;
		margin-bottom: 12rem;

		@include above (sm) {
			margin-bottom: 15rem;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		flex: 1;

		@include below (xs) {
			width: 100%;
		}

		@include between (xs, md) {
			width: 50%;
		}
	}

	&__img {
		padding-top: 75%;
		background: no-repeat center center;
		background-size: cover;
		display: block;
		position: relative;

		&--empty {
			background: $blue;
			color: $white;
			padding-top: 75%;
			position: relative;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 3.4rem;
				transform: translate(-50%, -50%);


				@include above (sm) {
					font-size: 4.8rem;
				}
			}
		}
	}

	&__meta {
		padding: 3rem 1.5rem;
		background: $blue;
	}

	&__content {
		background: $blue;
		color: $white;
		flex: 1;
		padding: 3rem 1.5rem;
		padding-top: 0;
		display: none;

		&.is-active {
			display: block;
		}
	}

	&__name {
		margin-top: 0;
		margin-bottom: 0;
		text-shadow: 3px 3px 14px rgba($black, .8);
		color: $white;
	}

	&__position {
		font-style: italic;
		color: $yellow;
		font-weight: 700;
		font-size: 14px;
		margin-bottom: .5rem;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__link {
		color: $red;
		font-weight: 700;
	}

	&__trigger {
		background: $red;
		border-radius: 50%;
		color: $white;
		line-height: 2.5;
		width: 4rem;
		height: 4rem;
		position: relative;
		display: inline-block;
		text-align: center;
		z-index: 10;

		&:hover {
			cursor: pointer;
		}

		i {
			transition: all ease .3s;
		}

		&.is-active {

			i {
				transform: rotate(-45deg);
			}
		}
	}

	&__desc {
		padding-top: 0;
		font-size: 1.4rem;
	}

	&__btn {
		padding-top: 8rem;
	}
}

