.europost {

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		color: $blue;

		@include below (xs) {
			width: 100%;
		}

		@include between (xs, md) {
			width: 50%;
		}
	}

	&__content {
		background: $white;
		flex: 1;
		padding: 3rem 1.5rem;

		@include above (sm) {
			padding: 3rem;
		}
	}

	&__title {
		margin-top: 0;
	}
}