
.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	overflow: hidden;
	position: relative;
	
	#Flag {
		position: absolute;
    	max-width: 50rem;
    	right: -12rem;
    	bottom: -8.7rem;
    	z-index: 0;
    	will-change: transform;

    	.cls-1 {
    		fill: #253966;
    	}
	}

	&__item {

		@include below (sm) {
			padding-bottom: 3rem;

			&:last-child() {
				padding-bottom: 0;
			}
		}
		
		a {
			color: $white;
			transition: all ease .3s;
		}

		i {
			color: $red;
			margin-right: .5rem;
		}

		&--contact {

			 a { 

			 	&:hover {
			 		color: $yellow;
			 	}
			 }
		}

		&--links {

			@include below (sm) {
				width: 100%;
			}

			 a { 

				&:hover {
					padding-left: .5rem;
				}
			 }
		}
	}

	&__social-link {
		
		& + & {
			margin-left: .5rem;
		}

		i {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		&--fb {

			&:hover {

				i {
					color: #0e71b8;
				}
			}
		}

		&--ig {

			&:hover {

				i {
					color: $red;
				}
			}
		}

		&--sc {

			&:hover {

				i {
					color: $yellow;
				}
			}
		}

		i {
			background: $white;
			border-radius: 50%;
			width: 3.6rem;
			height: 3.6rem;
			text-align: center;
			line-height: 2.25;
			color: $blue;
			transition: all ease .3s;
		}
	}


	&__title {
		color: $white;
		@include title-border(
			$height: 1px,
			$align: 0,
			$transform: 0
		);
	}

	&__copyright {
		padding-bottom: 3rem;
		font-size: 14px;
	}
}
