.toolbar {
	background: $blue-dark;

	@include below (sm) {
		display: none;
	}

	&__container {
		@include clearfix();
	}

	&__form {
		display: flex;

		&:hover {

			.toolbar__input {
				width: 20rem;
			}
		}
	}

	&__input {
		border: none;
		font-size: 14px;
		-webkit-appearance: none;
		line-height: 1;
		text-indent: 1rem;
		width: 0;
		transition: all ease .3s;
		outline: none;
		height: 4rem;
		padding: 0;
	}

	&__search {
		-webkit-appearance: none;
		background: $blue;
		border: none;
		outline: none;
		color: $white;
		padding-left: 1.8rem;
		padding-right: 1.8rem;

		&:hover {
			cursor: pointer;
		}
	}
}

.header {
	position: relative;
	background: $blue;
	z-index: 10;
	height: calc(138px - 67px);

	@include between (sm, md) {
		height: calc(138px - 62px);
	}

	@include above (md) {
		height: calc(179px - 81px);
	}

	&__logo {
		display: block;
		float: left;
		position: relative;
		z-index: 999999;

		img {
			width: 100px;
			height: 117px;

			@include above (sm) {
				width: 110px;
				height: 129px;
			}

			@include above (md) {
				width: 150px;
				height: 176px;
			}
		}
	}
}