/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__title {
    position: relative;
    margin-top: 0;
    @include title-border(
      $align: 0,
      $transform: 0
    );

    &.center {
      @include title-border();
    }
  }

  &__col {

    h1, h2,
    h3, h4,
    h5, h6 {
        margin-top: 5rem;
    }

    a {
      transition: all ease .3s;
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
}

.bg, .overlay {
    
    &--blue, &--red {
      color: $white;

      h1, h2,
      h3, h4,
      h5, h6 {
        color: $white;
      }

      a {
        color: $white;
      }
    }
}   

.bg {

  &--grey, &--blue-light,
  &--none {

    .wysiwygs__col {

      a:not(.btn) {
        color: $color-body;
        
        &:hover {
          color: $red;
        }
      }
    }
  }

  &--red, &--blue {

    .wysiwygs__col {

      a:not(.btn) {
        color: $white;
        
        &:hover {
          color: $yellow;
        }
      }
    }
  }

  &--grey {

      .wysiwygs__col {

        h2 > a {
            color: $blue;
        }
    }
  }

  &--blue-light {
    
    a:not(.btn) {
      color: $color-body;
    }
  }
}

.overlay {

  &--grey {
    
    a:not(.btn) {
      color: $color-body;
    }
  }

  &--blue, &--red {
    
    &:before {
      mix-blend-mode: multiply;
      opacity: 1;
    }
    
    a:not(.btn) {
      color: $white;
    }
  }
}

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {

    @include above (sm) {
		  justify-content: flex-end;
    }
	}

  &--reverse {
    flex-direction: row-reverse;
  }
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 5rem;
  }
  
  &--bottom {
    padding-bottom: 5rem;
  }

  &--both {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 10rem;
    }

    &--bottom {
      padding-bottom: 10rem;
    }

    &--both {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}