.link-boxes {
	background: no-repeat center center;
	background-size: auto;
 
	&__header {
		@include title-border();
		margin-top: 0;
	}

	&__intro {
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}

	&__classes {
		padding-bottom: 6rem;
		padding-top: 1.5rem;

		@include above (sm) {
			padding-bottom: 8rem;
		}
	}

	&__class {
		color: $blue;
		font-family: $font-headings;
		padding: 0 2rem;
		margin-top: .5rem;
		margin-bottom: .5rem;
		transition: all ease .3s;
		@include seperator();

		&:hover {
			color: $red;
		}
	}

	&__item {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-body;
		position: relative;
		padding-bottom: 5rem;

		&:hover {

			.link-boxes__btn {
				color: $yellow;
			}
		}

		@include below (sm) {
			width: 100%;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		@include between (sm, md) {
			width: 50%;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}

	&__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $red;
		border-radius: 50%;
		padding: 3rem;
		width: 120px;
		height: 120px;

		picture {
			display: flex;
		}

		img {

			max-height: 6rem;
			width: auto;
		}
	}

	&__btn {
		position: absolute;
		bottom: 0;
		font-family: $font-headings;
		color: $blue;
		transition: all ease .3s;
		left: 50%;
		transform: translateX(-50%); 
	}

	&__title {

	}
}