.nav {
	
	@include between (sm, md) {
		padding-bottom: 3.5rem;
	}

	@include above (md) {
		padding-bottom: 8rem;
	}

	&--cta {

		@include above (sm) {
			display: none;
		}
	}

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    top: 7rem;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    transition: opacity .6s;

		@include above (sm) {
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;

		@include between (sm, md) {
			padding: .5rem 3rem;
		}

		@include above (md) {
			padding: 0rem .8rem;
			font-size: 1.6rem;
			float: left;
			display: inline-block;
			line-height: 1;
			font-size: 1.4rem;

			@include seperator(
				$color: $white,
				$opacity: .4
			);
		}


		@include above (lg) {
			padding: 0rem 1.5rem;
		}

		&.is-active > a {
			color: $yellow;
		}

		&--language {

			img {
				max-width: 3rem;
			}

			&:after {
				display: none;
			}

			@include above (sm) {
				padding-right: 0;
			}
		}

		&--btn {
			padding: 0;

			&:after {
				display: none; 
			}

			@include above (sm) {
				float: left;
			}

			.nav__link {
				padding: 1rem 1.5rem;
				display: inline-block;
				color: $white;
				margin: .5rem 1.5rem;
				min-width: 12rem;	
				text-align: center;

				@include between (sm, md) {
					padding: .65rem 1.8rem;
				}

				@include above (sm) {
					display: block;
					margin: 0;
					min-width: 0;
				}

				@include above (md) {
					padding: 1.3rem 1.8rem;
				}
			}
			
			&-red {

				&.is-active {

					a {
						background: darken($red, 8%);
						color: $white;
					}
				}
			
				.nav__link {
					background: $red;

					&.is-active {
						background: darken($red, 8%);
						color: $white;
					}

					&:hover {
						color: $white;
						background: darken($red, 8%);
					}
				}
			}

			&-blue {

				&.is-active {

					a {
						background: darken($blue, 8%);
						color: $white;
					}
				}
			
				.nav__link {
					background: $blue;

					&.is-active {
						background: darken($blue, 8%);
						color: $white;
					}

					&:hover {
						color: $white;
						background: darken($blue, 8%);
					}
				}
			}
		}

		&.is-dropdown {

			@include above (md) {

				&:hover {

					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}
	}


	&__link {
		font-family: $font-headings;
		color: $blue;
		transition: all ease .3s;

		@include above (md) {
			color: $white;
		}

		&:hover {
			color: $yellow;
		}
	}

	&__icon {

		@include above (md) {
			display: none;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: $grey;

		@include above (md) {
			padding: 1rem;
			padding-top: 3rem;
			position: absolute;
			background: $blue;
		}

		&.is-visible {
			display: block;
		}

		&-trigger {

			@include below (md) { 
				pointer-events: none;
			}
		}

		li {
			padding: 0;
			float: none;
			display: block;

			&:after {
				display: none;
			}
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			display: block;

			@include above (md) {
				padding: 1rem;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (md) {
			position: fixed;
			z-index: 78888;
			top: 116px;
			right: 0;
			height: calc(100% - 116px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $grey;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			display: flex;
			flex-direction: column;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@include below (sm) {
			height: calc(100% - 71px);
			top: 71px;
		}

		@include above (sm) {
			display: flex;
			align-items: center;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include between (sm, md) {
			right: 3rem;
		}

		@include above (md) {
			display: none;
		}

		&__label {
			color: $white;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

body:not(.english) {

	.nav__item--language--danish {
		display: none;
	}
}

body.english {

	#menu-main-nav {
		opacity: 0;
	}

	.nav__item--language--english {
		display: none;
	}
}


#menu-main-nav, #menu-sprog {

	@include between (sm, md) {
		width: 100%;
		left: 0rem;
		top: 7rem;
	}
}