.news {

	&__post {
		display: block;
		padding: 1.5rem 0rem;
	    overflow: hidden;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		will-change: transform;
		animation: marquee infinite linear 15s;
		width: 100%;

		i {
			font-size: 12px;
			margin-left: .5rem;
			margin-right: .5rem;
		}
	}
}