.page {

	&__hero {
		height: 50vh;
		background: no-repeat center center;
		background-size: cover;
		position: relative;

		@include above (sm) {
			height: 60vh;
		}
	}

	&__container {
		height: 100%;
	}

	&__content {
		
		a:not(.btn) {
			color: $color-body;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
	}

	&__title {
		margin-top: 0;
		@include title-border();
	}

	&__wrap {
		position: relative;

		@include below (sm) {
			display: none;
		}
	}

	&__square {
	    position: absolute;
	    opacity: 1; 

	    &--red {
	      background: $red;
	      width: 60px;
	      height: 60px;
	    }

	    &--blue {
	      background: $blue;
	      width: 80px;
	      height: 80px;
	      right: -40px;
	      top: -10rem;
	    }

	    &--yellow { 
	      background: $yellow;
	      width: 40px;
	      height: 40px;
	      right: 50px;
	      top: 5rem;
	    }

	    &--blue-light { 
	      background: $blue-light;
	      width: 20px;
	      height: 20px;
	      left: 100px;
	      top: 5rem;
	   }
	}
}
