.pdf-links {
	
	&__header {
		text-align: center;
		@include title-border();
		margin-top: 0;
	}

	&__item {
		background: $white;
		color: $blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: 1.5rem;

		@include above (sm) {
			width: calc(50% - 3rem);
		}

		@include above (md) {
			width: calc(33.3% - 3rem);
		}

		&:hover {

			.pdf-links__btn {

				i {
					color: $white;
					background: darken($red, 8%); 
				}

				color: $blue;
			}
		}
	}

	&__content {
		padding: 3rem 1.5rem;
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		width: calc(100% + 3rem);
    	left: -1.5rem;
    	padding-right: 3rem .5rem !important;
    	color: $white;
    	background: $white;

    	i {
    		position: absolute;
    		right: 0;
    		background: $red;
    		padding: 1.75rem 2rem;
    		top: 0;
    		z-index: 10;
    		transition: all ease .3s;
    	}

    	&:hover {

    	}
	}
}