.profile-course {
	background: no-repeat center center;
	background-size: cover;

	&__header {
		position: relative;
		z-index: 10;
		color: $white;
		margin-bottom: 5rem;
		margin-top: 0;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: no-repeat center center;
		background-size: cover;
		min-height: 25rem;

		@include above (sm) {
			min-height: 30rem;
		}

		@include above (md) {
			min-height: 35rem;
		}

		@include above (lg) {
			min-height: 40rem;
		}

		@include above (xl) {
			min-height: 50rem;
		}
	}

	&__title {
		margin: 0;
		padding: 1.5rem 1.5rem 0rem 1.5rem;
		color: $white;
		text-shadow: 3px 3px 14px rgba($black, .8);

		@include above (sm) {
			padding: 3rem 3rem 0rem 3rem;
		}
	}

	&__link {
		padding: .5rem 1.5rem 1.5rem 1.5rem;
		font-weight: 700;
		color: $yellow;
		font-size: 1.4rem;
		text-shadow: 3px 3px 14px rgba($black, .8);

		@include above (sm) {
			padding: .5rem 3rem 2rem 3rem;
		}
	}
}