.single {

	&__meta {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__avatar {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		border: .2rem solid $red;
	}

	&__name {
		margin-top: 1rem;
		margin-bottom: 0;
	}	

	&__article {

		a:not(.btn) {
			color: $red;
		}
	}
}