.slider {

	&__track {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 40%;

			@include above (lg) {
				padding-bottom: 40rem;
			}
		}
	}

	&__container {

	}

	&__title {

	}

	&__text {

	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	&--small, &--employees {

		.owl-stage {

			&-outer {
				overflow: visible!important;
			}
		}
	}

	&--small {

		@include above (sm) {
			width: 50%;
		}
	}

	&--employees {

		@include between (sm, lg) {
			width: 50%;
			margin-left: 25%; 
		}

		@include above (lg) {
			width: 33.3%;
			margin-left: 33.3%; 
		}

		.owl-stage {
			display: flex;

			&-outer {
				display: flex;
			}
		}

		.owl-item {
			display: flex;
		}
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
		
		.profile-course__item {

			@include overlay(
				$color: $white,
				$opacity: .7
			);

			&:before {
				transition: all ease .8s;
			}
		}

		&.active {

			.profile-course__item {

				&:before {
					opacity: 0;
				}
			}
		}
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		position: absolute;
    	top: -7rem;
    	display: flex;
    	width: 100%;
    	left: 0;
    	justify-content: center;
	}

	.owl-dots {
		position: relative;
		z-index: 10; 
		list-style: none;
		padding-left: 0;
		margin: 0;
		padding-top: 3rem;

		@include above (sm) {
			padding-top: 8rem;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-prev,
	.owl-next {
		background: $red;
		border-radius: 50%;
		color: $white;
		width: 4rem;
		height: 4rem;
		text-align: center;
		line-height: 2.5;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		transition: all ease .3s;

		&:hover {
			background: darken($red, 8%);
		}
	}

	.owl-dot {
		padding: 0rem 1.5rem;
		font-family: $font-headings;
		line-height: 1;
		margin-bottom: .5rem;
		margin-top: .5rem;

		@include seperator(
			$color: $white
		);

		&.active {
			color: $yellow;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}