.testimonials {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__header {
		@include title-border(); 
		margin-top: 0;
	}

	&__item {
		background: $white;
		color: $blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: 1.5rem;

		@include above (sm) {
			width: calc(50% - 3rem);
			padding-right: 0;
		}

		&:hover {

			.pdf-links__btn {

				i {
					color: $white;
					background: darken($red, 8%); 
				}

				color: $blue;
			}
		}
	}

	&__wrap {
		flex: 1;
	}

	&__content {
		padding: 3rem 1.5rem;
		padding-bottom: 0;
		color: $color-body;
	}

	&__title {
		margin-top: 0;
		color: $blue !important;
	}

	&__btn {
		width: calc(100% + 3rem);
    	left: -1.5rem;
    	padding-right: 3rem .5rem !important;
    	color: $white;
    	background: $white;

    	i {
    		position: absolute;
    		right: 0;
    		background: $red;
    		padding: 1.75rem 2rem;
    		top: 0;
    		z-index: 10;
    		transition: all ease .3s;
    	}

    	&:hover {

    	}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;

		@include below (sm) {
			min-height: 25rem;
			width: 100%;
			position: relative;
		}
	}
}