.text-image {
	position: relative;

	&.bottom {
		padding-bottom: 0!important;
	}

	&__wrapper {
		position: relative;
		background: no-repeat center center;
		background-size: cover;
	}

	&__content {
		
		@include below (md) {
			width: 100%;
		}

		@include above (md) {
			align-self: center;
		}
	}

	&__title {
		margin-top: 0;

		@include title-border(
			$align: 0,
			$transform: 0
		);
	}

	&__image {
		display: flex;

		@include below (md) {
			width: 100%;
		}

		img {
			align-self: center;
		}

		&.bottom {
			align-self: flex-end;
		}
	}
}