 .video {
	color: $black;
	position: relative;
	z-index: 2;
	overflow: hidden;

	&__poster {
		position: relative;
		z-index: 1;
		background: no-repeat center center;
		background-size: cover;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include above (sm) {
			height: 75vh;
		}
	}

	&__video {
		width: 100%;
		position: absolute;
		z-index: -100;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		pointer-events: none;
	}

	&__inner {
		position: relative;
		z-index: 10;

		p {
			color: $white;	
		}
	}

	&__title {
		margin-bottom: 1rem;
	}

	&__btn {

		&--1 {
			background: $blue;
			margin: 1rem;
			left: -1rem;

			&:hover {
				background: darken($blue, 8%);
			}
		}

		&--2 {
			background: $red;
			left: -1rem;

			&:hover {
				background: darken($red, 8%);
			}
		}
	}
}