.video-references {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__header {
		@include title-border();
		margin-bottom: 5rem;
		margin-top: 0;

		&-text {
			padding-bottom: 3rem;
		}
	}

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include below (sm) {
			width: 100%;
		}

		@include between (sm, md) {
			width: 50%;
		}

		&:hover {

			.video-references__play {
				background: darken($red, 8%);
			}
		}
	}

	&__link {
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all ease .3s;
	}

	&__title {
		margin: 0;
    	color: $white;
    	padding: 2rem;
    	position: relative;

    	span {
    		position: relative;
    		z-index: 10;
    	}

    	.blend {
    		background: rgba($blue, .9);
    		mix-blend-mode: multiply;
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		z-index: 0;
    	}
	}

	&__channel {
		padding-top: 5rem;

		@include above (sm) {
			padding-top: 8rem;
		}
	}
}