.accordion {

    &__title {
        background: $white;
        cursor: pointer;
        padding: 2rem !important;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        line-height: 1.3;
        font-family: $font-body;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0 !important;
        color: $color-body !important;

        &.is-active {

            .fas {
                transform: rotate(180deg);
            }
        }
    }

    &__wrapper {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        .fas {
            font-size: 16px;
            color: $red;
            float: right;
            margin-left: .5rem;
            position: relative;
            transition: all ease .3s;
        }
    }

    &__panel {
        padding: 0 2rem;
        max-height: 0;
        overflow: hidden;
        transition: .3s ease-in-out;
        min-height: 0;
        background: $white;
        color: $color-body !important;
        text-align: left;

        a {
            transition: all ease .3s;
            color: $blue;
        }

        &.is-visible {
            opacity: 1;
            min-height: fit-content;
            max-height: none;
            padding-bottom: 15px;
        }
    }
}