.btn {
	display: inline-block;
	padding: 1.2rem 2.5rem;
	position: relative;
	font-family: $font-headings;
	color: $white;
	transition: all ease .3s;

	& + & {
		margin: 1rem;
	}

	i {
		margin-left: 1rem;
	}

	&:hover {
		cursor: pointer;
	}

	&--red {
		background: $red;


		&:hover {
			background: darken($red, 8%);
		}
	}

	&--blue {
		background: $blue;

		&:hover {
			background: darken($blue, 8%);
		}
	}

	&--play {
		background: $red;
		padding: 1.2rem 2rem;
		border-radius: .3rem;
		color: $white;
	}
}