//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		margin-top: 4rem;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 2.8rem !important;
		text-align: center;
		font-weight: 800!important;
		@include title-border();
		margin-bottom: 3rem! important;

		@include above (sm) {
			font-size: 4.2rem !important;
			margin-bottom: 5rem! important;
		}
	}

	&_description {
		text-align: center !important;
	}

	&_confirmation_message {
		text-align: center;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		padding: 1.2rem 2.5rem!important; //add important for ie 11 fix

		@include below (sm) {
			line-height: 1.5!important;
		}

		@extend .btn, .btn--red;
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea, select {
		display: block;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 12px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		color: $font-body;
		border-radius: 0px;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
		}
	}

	textarea {
		overflow: hidden !important; 
	}

	select {
		background: $white;
		padding: 1.65rem .5rem!important;
		padding-right: 5rem!important;
	}

	.ginput_container_select {
		position: relative;
		overflow: hidden;

		&:before {
			background: transparent;
			width: 2.5rem;
			height: 100%;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 1.6rem;
			top: 0;
			right: 0;
			font-weight: 900;
			font-family: 'Font Awesome 5 Free';
			content: '\f107';
			opacity: 1;
			pointer-events: none;
			color: $blue;
		}
	}
}

.ginput_container_consent {

	a {
		color: $white;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}
	}
}

.ginput_container_date {
	flex: 1;

	select {
		width: 100%;
	}
}

.gfield_date_dropdown_day, .gfield_date_dropdown_month,
.gfield_date_dropdown_year {
	margin-top: 0 !important;
}

.gfield_date_dropdown_day, .gfield_date_dropdown_month {
	margin-right: 1rem !important; 
}

.gfield_date_dropdown_year {
	margin-right: 0 !important;
}


.gf_left_half, .gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
		margin-bottom: 1rem!important;
		margin-top: 0!important;
	}
}

.gf_left_third, .gf_middle_third,
.gf_right_third {
	@media (min-width: 640px) {
		width: calc(33.3% - 1rem)!important;
		margin-top: 0!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: .99rem;
	}
}

.gf_left_third, .gf_middle_third {
	@media (min-width: 640px) {
		margin-right: 1.5rem;
	}
}

.datepicker {
	width: 100% !important;	
}

.gf_checkbox {

	.gfield_label {
		display: block !important;
		text-align: left;
	}
}

.ginput_container_fileupload {

	.medium {
		width: 100% !important;
	}
}


/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}