.google-map {
	position: relative;

	&--overlay {

		.google-map__map {

			@include above (sm) {

				&:after {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					background: linear-gradient(to right, $grey 15%, transparent 70%);
					width: 100%;
					height: 100%;
					pointer-events: none;
				}
			}
		}
	}

	&__intro {
		position: relative;
		z-index: 10;
		padding-bottom: 6rem;
	}

	&__title {
		@include title-border();
		margin-top: 0;
	}

	&__wrap {
		position: absolute;
		width: 100%;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	&__text {
		background: $blue;
		width: 50%;
		color: $white;
		padding: 3rem;
		display: none;
		position: relative;

		&--top {
			margin-top: 37rem;
		}

		@include above (sm) {
			display: block;
			font-size: 20px;
		}

		@include above (md) {
			width: 25%;
			padding: 5rem 3rem;
		}
	}

	&__map {
		min-height: 35rem;

		@include above (sm) {
			min-height: 50rem;
		}

		@include above (md) {
			min-height: 60rem;
		}

		@include above (lg) {
			min-height: 65rem;
		}
	}
}

.marker-layer {
	background: $red;
	width: 2rem !important;
	height: 2rem;
	display: inline-block;
	border-radius: 50%;

	@include above (sm) {
		left: 239px !important;
	}

	&:after {
		position: absolute;
		content: '';
		top: -.2rem;
		left: -.2rem;
		background: $red;
		opacity: .5;
		border-radius: 50%;
		width: 2.4rem;
		height: 2.4rem;
		z-index: -1;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		animation: pulse;
		animation-timing-function: ease-out;
		animation-duration: .8s;
		animation-iteration-count: infinite;
	}

	div {
		display: none !important;
	}
}