.pagination {
	padding-top: 3rem;

	&__nav {

		a {
			color: $white;
			background: $red;
			border-radius: 50%;
			width: 4rem;
			height: 4rem;
			text-align: center;
			line-height: 2.5;
			display: inline-block;
		}

		&.right {
			margin-left: 1.5rem;
		}

		&.left {
			margin-right: 1.5rem;
		}
	}

	&__pages {
		font-weight: 700;

		.page-numbers {
			color: lighten($color-body, 50%);

			&.current {
				color: lighten($color-body, 0%);
			}
		}
	}
}