.partners {

	&__row {
		padding-top: 5rem;
	}

	&__item {

		@include below (sm) {
			width: 100%;
			margin-bottom: 3rem;

			&:last-child() {
				margin-bottom: 0rem;
			}

			img {
				max-height: 8rem;
				width: auto;
			}
		}
	}

	&__title {
		@include title-border();
		margin-top: 0;
	}
}