.social {

	&__title {
		@include title-border();
		margin-top: 0;
	}

	&__link-wrap {
		padding-top: 3rem;
	}

	&__link {
		
	}

	&__icon {
		max-height: 4rem;
		width: auto;
		margin: 1.5rem;

		@include above (sm) {
			margin: 3rem;
			max-height: 8rem;
		}
	}
}