@keyframes fade-in {

  0% { 
  	opacity: 0;
  	transform: translateX(-1.5rem);
  }

  100% {
  	opacity: 1;
  	transform: translateX(0);
  }
}

@keyframes marquee {

  0% { 
    transform: translateX(100%) translateZ(0);     
  }

 100% { 
    transform: translateX(-100%) translateZ(0); 
  }
}

@keyframes pulse {
  0%   { 
    opacity: .46;
    transform: scale(1);
  }

  100% { 
    opacity: 0; 
    transform: scale(1.4);
  }
}

.fade-up {
	transition: all .7s ease-out !important;
	transform: translate3d(0px, 70px, 0px) translateZ(0);
	backface-visibility: hidden;
  will-change: transform;
	opacity: 0;

	@include above (sm) {
		transform: translate3d(0px, 100px, 0px) translateZ(0);
	}
}

.fade-up.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px) translateZ(0);
}

.fade-in {
  transition: all .7s ease-in;
  opacity: 0;
  will-change: transform;
}

.fade-in.in-view {
  opacity: 1;
}