/* Color classes (modify as needed) */

$colors: "white" $white, "black" $black, "blue" $blue, "blue-light" $blue-light, "yellow" $yellow, "grey" $grey, "red" $red;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }

  .overlay--#{$label} {

  	@include overlay(
  		$color: $value,
  	);
  }
}
