/********************MIXINS*********************/

@mixin clearfix() {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin overlay($color: $blue, $height: 100%, $opacity: .9) {
	position: relative;

	&:before {
		content: '';
		background: $color;
		width: 100%;
		height: $height;
		left: 0;
		bottom: 0;
		position: absolute;
		z-index: 0;
		opacity: $opacity;
	}
}

@mixin title-border($spacing: 2rem, $align: 50%, $transform: -50%, $height: 5px) {
  position: relative;
  padding-bottom: $spacing;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100px;
    height: $height;
    left: $align;
    transform: translateX($transform);
    background: $yellow;
  }
}

@mixin seperator ($color: $blue, $opacity: 1) {
  position: relative;

  &:last-child() {

  	&:after {
  		display: none;
  	}
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: .1rem;
    height: 100%;
    background: $color;
    opacity: $opacity;
  }
}