h1, .h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: $font-headings;
  color: $color-headings;
  line-height: 1.2;
  font-weight: 800;
}

h1, .h1 {
  font-size: 3.2rem;
}

@include above (sm) {
  h1, .h1 {
    font-size: 6.2rem;
  }
}

h2, .h2 {
  font-size: 2.6rem;
}

@include above (sm) {
  h2, .h2 {
    font-size: 4.2rem;
  }
}

h3, .h3 {
  font-size: 2.2rem;
}

@include above (sm) {
  h3, .h3 {
    font-size: 2.4rem;
  }
}

h4, .h4 {
  font-size: 1.8rem;
}

@include above (sm) {
  h4, .h4 {
    font-size: 2rem;
  }
}

h5, .h5 {
  font-size: 1.8rem;
}

h6, .h6 {
  font-size: 1.6rem;
}