/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins&display=swap');

// Fonts
$font-body: 'Poppins', sans-serif; 
$font-headings: 'Montserrat', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;
$grey: #efefef;

$blue: #20325a;
$blue-light: #cee0f2;
$blue-dark: #18204a;

$yellow: #fad53f;
$red: #a0121a;

// Set font colors
$color-body: $black;
$color-headings: $blue;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1600px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;